.formatLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.resetButton {
  font-size: 1.2rem;
  opacity: 0.8;
}

.resetButton:hover {
  cursor: pointer;
  text-decoration: underline;
}

.previewContainer {
  margin-top: 1rem;
}

.errorContainer {
  color: red;
}

.optionsRow {
  margin-bottom: 5px;
}

.optionLink {
  color: #999;
}
