# Auto detect text files and perform LF normalization
* text=auto

# Force js and ts files to use unix line endings
*.json text eol=lf
*.js text eol=lf
*.ts text eol=lf
*.jsx text eol=lf
*.tsx text eol=lf