*       text    eol=lf
*.eot   binary
*.exe   binary
*.icns  binary
*.ico   binary
*.jpeg  binary
*.jpg   binary
*.otf   binary
*.png   binary
*.slp   binary
*.ttf   binary
*.woff  binary
*.woff2 binary
