.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

.labelText {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--color-foreground);
}

.input {
  padding: 0.5em 0.8em;
  border-radius: 0.3em;
  border: none;
  background: color-mix(in srgb, var(--color-foreground3), white 5%);
  color: var(--color-secondary);
  font-size: 1em;
  font-family: inherit;
  line-height: 1.3;
  box-sizing: border-box;
}

.input::placeholder {
  color: var(--color-foreground2);
}

.input:focus {
  outline: none;
  border-color: var(--color-foreground2);
}

.fluid {
  height: 100%;
  width: 100%;
}

.transparent {
  background: transparent;
  border-color: transparent;
  padding-left: 0;
  padding-right: 0;
}
