.ui.buttons {
  font-size: 1em;
  margin: 0;
}

.ui.dropdown .menu > .item,
.ui.checkbox,
.ui.segment,
.ui.button,
.ui.buttons .button,
.ui.modal,
.ui.form {
  font-size: 1em;
}

.ui.modal > .actions {
  padding: 1rem !important;
}

[data-theme="dark"] {
  .ui.modal,
  #app {
    font-weight: 100;

    .ui.transparent.input input,
    .ui.divider,
    .ui.header {
      color: var(--color-foreground);
    }

    .ui.default.dropdown:not(.button) > .text,
    .ui.dropdown:not(.button) > .default.text {
      color: var(--color-foreground2);
    }

    .ui.accordion .title:not(.ui),
    .ui.form .field > label,
    .ui.checkbox input:focus ~ label,
    .ui.checkbox label,
    .ui.checkbox input:focus:checked ~ .box,
    .ui.checkbox input:focus:checked ~ label {
      color: var(--color-foreground) !important;
    }

    .ui.card {
      border: solid 1px var(--color-background3) !important;
      box-shadow: none;
      background: color-mix(in srgb, var(--color-background), white 5%);

      .meta > a:not(.ui) {
        color: color-mix(in srgb, var(--color-foreground), black 10%);
        &:hover {
          opacity: 0.8;
        }
      }

      .meta,
      .header {
        color: var(--color-foreground);
      }
      .extra {
        border-color: var(--color-background3) !important;
      }
    }

    .ui.placeholder.segment,
    .ui.table thead th,
    .ui.table {
      background: color-mix(in srgb, var(--color-background), white 5%);
      color: var(--color-foreground);
    }

    input,
    .ui.form input,
    .ui.form textarea,
    .ui.selection.dropdown {
      background: var(--color-foreground);
      color: var(--color-background);
      &::placeholder {
        color: var(--color-foreground2);
      }
    }

    .ui.dropdown .menu {
      background: var(--color-foreground);
      .item {
        color: var(--color-background);
        border-top: none;
        &:hover {
          background-color: var(--color-foreground2);
          color: var(--color-foreground);
        }
      }
    }

    .ui.label,
    .ui.button {
      &:not(.inverted) {
        background: color-mix(in srgb, var(--color-foreground2), white 5%) none;
        color: var(--color-foreground);
        font-weight: 500;
        &:hover {
          background: color-mix(in srgb, var(--color-foreground2), white 10%) none;
        }
      }
    }

    .ui.checkbox input ~ .box:before,
    .ui.checkbox input ~ label:before {
      border-color: var(--color-background);
      background: var(--color-foreground3);
    }
    .ui.checkbox .box:after,
    .ui.checkbox label:after {
      color: var(--color-foreground) !important;
    }
  }

  .ui.modal {
    background: var(--color-background);

    & > .header {
      background: var(--color-background);
      border-bottom-color: var(--color-background3);
      color: var(--color-foreground);
    }

    & > .close {
      color: var(--color-foreground);
    }

    & > .content {
      background: var(--color-background);
      color: var(--color-foreground);
    }

    & > .actions {
      border-top-color: var(--color-background3);
      background: var(--color-background2);
      color: var(--color-foreground);

      .ui.button {
        &:not(.inverted) {
          background: color-mix(in srgb, var(--color-foreground2), white 5%) none;
          color: var(--color-foreground);
          font-weight: 500;
          &:hover {
            background: color-mix(in srgb, var(--color-foreground2), white 10%) none;
          }
        }
      }
    }
  }
}
