@import "./semantic-override";

html,
body {
  margin: 0;
  font: caption;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
}

#app {
  height: 100%;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

button {
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: default;
    pointer-events: all !important;
  }
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  user-select: none;
}

input,
button,
textarea,
:focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}
