@use "./variables";

/* Needed for the Base UI components to work properly */
.root {
  isolation: isolate;
}

html,
body {
  margin: 0;
  font: caption;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4em;
  color: var(--color-foreground);
}

#app {
  height: 100%;
}

*,
*::after,
*::before {
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: no-drag;
}

button {
  &:hover {
    cursor: pointer;
  }
  &:disabled {
    cursor: default;
    pointer-events: all !important;
  }
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  user-select: none;
}

input,
button,
textarea,
:focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}

.ui.message {
  border-radius: 0.5rem;
}
