.twitch--user--status--container {
    display: flex;
    background-color: rgba($color: #6441a5, $alpha: 0.8);
    img {
        height: 30px;
        width: 30px;
        padding-right: 5px;
    }
    .twitch--status {
        display: flex;
        align-items: center;
        &::before {
            content: '';
            height: 5px;
            width: 5px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
            margin-right: 5px;
        }

        &.live::before {
            background-color: rgb(46, 236, 46);
        }
    }
}
