.toastContainer :global(.Toastify__toast) {
  cursor: initial;
  min-height: 50px;
  border-radius: 4px;
  padding-left: 30px;
}

.toastContainer :global(.Toastify__toast)::before {
  content: "";
  color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
}

.toastContainer :global(.Toastify__toast)::after {
  content: "";
  position: absolute;
  left: 5px;
  top: 0;
  width: 20px;
  height: 100%;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position-y: 5px;
}

.toastContainer :global(.Toastify__close-button) {
  color: currentColor;
  opacity: 0.5;
}

.toastContainer :global(.Toastify__toast--error) {
  color: rgb(191, 38, 0);
  background: rgb(255, 235, 230);
}

.toastContainer :global(.Toastify__toast--error)::before {
  background-color: rgb(191, 38, 0);
}

.toastContainer :global(.Toastify__toast--error)::after {
  background-color: rgb(255, 235, 230);
  mask-image: url("@/styles/images/icons/alert.svg");
}

.toastContainer :global(.Toastify__toast--error) :global(.buttons) a,
.toastContainer :global(.Toastify__toast--error) :global(.buttons) button {
  background: rgb(191, 38, 0);
  color: rgb(255, 235, 230);
}

.toastContainer :global(.Toastify__toast--info) {
  color: rgb(38, 132, 255);
  background: #daecff;
}

.toastContainer :global(.Toastify__toast--info)::before {
  background-color: rgb(38, 132, 255);
}

.toastContainer :global(.Toastify__toast--info)::after {
  background-color: #daecff;
  mask-image: url("@/styles/images/icons/info.svg");
}

.toastContainer :global(.Toastify__toast--info) :global(.buttons) a,
.toastContainer :global(.Toastify__toast--info) :global(.buttons) button {
  background: rgb(38, 132, 255);
  color: #daecff;
}

.toastContainer :global(.Toastify__toast--success) {
  color: rgb(0, 102, 68);
  background: #e3fcef;
}

.toastContainer :global(.Toastify__toast--success)::before {
  background-color: rgb(0, 102, 68);
}

.toastContainer :global(.Toastify__toast--success)::after {
  background-color: #e3fcef;
  mask-image: url("@/styles/images/icons/success.svg");
}

.toastContainer :global(.Toastify__toast--success) :global(.buttons) a,
.toastContainer :global(.Toastify__toast--success) :global(.buttons) button {
  background: rgb(0, 102, 68);
  color: #e3fcef;
}

.toastContainer :global(.Toastify__toast-body) {
  max-width: 100%;
  margin-left: 10px;
  font-size: 13px;
  font-weight: normal;
}

.toastContainer :global(.Toastify__toast-body) h3 {
  font-size: 15px;
}

.toastContainer a {
  text-decoration: underline;
}

.toastContainer :global(.buttons) {
  text-align: right;
}

.toastContainer :global(.buttons) a,
.toastContainer :global(.buttons) button {
  display: inline-block;
  text-decoration: none;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: opacity 0.2s ease-in-out;
}

.toastContainer :global(.buttons) a:hover,
.toastContainer :global(.buttons) button:hover {
  opacity: 0.8;
}

.closeButton {
  cursor: pointer;
}
