.outer {
  padding: 0 2rem;
  border-radius: 0.5rem;
  background-color: color-mix(in srgb, black 5%, var(--color-background));
}

[data-theme="dark"] .outer {
  background-color: color-mix(in srgb, white 5%, var(--color-background));
}
