.header {
  position: sticky;
  top: 0;
  z-index: 1;
  font-size: 1.6rem;
  background-color: var(--color-foreground3);
  text-align: center;
  padding: 0.5rem 0;
}

.header h2 {
  display: inline;
  margin-right: 1rem;
}

.eventName {
  margin: 2.5rem;
  font-size: 1.8rem;
  font-weight: 600;
}

.columnContent {
  overflow: hidden;
  overflow-y: auto;
  position: relative;
  height: 100%;
  width: 100%;
}

.columnInner {
  position: absolute;
  height: 100%;
  width: 100%;
}
