.outer {
  display: inline-block;
}

.outer.outer:before {
  content: "";
  mask-image: var(--custom-icon-mask);
  mask-repeat: no-repeat;
  mask-position: 100% 100%;
  mask-size: contain;
  background-color: var(--custom-icon-color, var(--color-foreground)) !important;
  height: 100%;
  width: 100%;
  display: block;
}

.icon {
  display: inline-block;
  opacity: 1;
  margin: 0em 0.25rem 0em 0em;
  width: 1.18em;
  height: 1em;
  font-family: 'Icons';
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-align: center;
  speak: none;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}